<div>
    <div class="d-flex justify-content-center">
        <h1>{{title}}</h1>
    </div>
    <div class="d-flex justify-content-evenly">
        <div align-self-stretch>
            <a routerLink="/guitars">
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt="" src={{cardsrc}}>
                </div>
                <p>{{cardname}}</p>
            </a>
        </div>

        <div>
            <a routerLink="/studioandrecording">
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-f7a3dcca8cc514c4__hmac-dc973b628aaf346df916e9f87c4a046e7944fa11/home/cats/Arrow-small.png.auto.webp">
                </div>
                <p>Studio & Recording</p>
            </a>
        </div>

        <div>
            <a routerLink="/drums">
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-8ecbba1ca439ad66__hmac-e6f96d96906a054012a29f5d944bfdd04c0ae829/home/cats/LM402.png.auto.webp">
                </div>
                <p>Drums & Percussion</p>
            </a>
        </div>
        <div>
            <a routerLink="/bass" class="link">
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-3c36217e99283b77__hmac-40e1171e689a5816ffb9cbe11263a77584cf1c19/home/cats/PBassAPR3SB.png.auto.webp">
                </div>
                <p>Bass</p>
            </a>
        </div>

        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-7fb54df59aa94cb6__hmac-a2a0635a25ad2fb01de4100aad9907d1c0ca3930/home/cats/Matriarch.png.auto.webp">
                </div>
                <p class="link">Keyboards & Synth</p>
            </a>
        </div>

        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-088be7a419967090__hmac-2013e736ff6a2d522800f5584ae977f81cc417fa/home/cats/flow8.jpg.auto.webp">
                </div>
                <p>Live Sound & Lights</p>
            </a>
        </div>
    </div>
    <div class="d-flex align-self-stretch justify-content-evenly">

        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-3c7c5db2f39577b7__hmac-dde74fdfe57df0e3dcb85fff1ce9c78d9f05d105/home/cats/PTHDAUP.png.auto.webp">
                </div>
                <p>Software & Plugins</p>
            </a>
        </div>

        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-943a345ae6eb4d44__hmac-a7dd137891750e5c01c49f8abdb1d146301b1dc2/home/cats/ATLP120XUSBSV.png.auto.webp">
                </div>
                <p>DJ Equipment</p>
            </a>
        </div>
        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-91f813272565ad7f__hmac-d38f15badf069fc2fc16f5f42e1e6cfcb0af98c4/home/cats/SM58-cat.png.auto.webp">
                </div>
                <p>Microphones</p>
            </a>
        </div>

        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-3a7a3f08f5014f79__hmac-10cfdf88985532ecddd9dd7e4e0abdb0ec3fbcc4/home/cats/KingSlvFlTr.png.auto.webp">
                </div>
                <p>Band & Orchestra</p>
            </a>
        </div>

        <div>
            <a href=#>
                <div class="card overflow-hidden shadow-lg">
                    <img class="image" alt=""
                        src="https://media.sweetwater.com/api/i/f-webp__h-200__w-200__q-80__ha-cbc5bab1db5cad63__hmac-b284f5bc660c95b43e92b186f4c9bed574750758/home/cats/M4WP006.png.auto.webp">
                </div>
                <p>Accessories</p>
            </a>
        </div>
    </div>
</div>