<div class="container px-4 py-5" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card overflow-hidden shadow-lg">
                <a href=#>
                    <img alt="Click here for a guitar special"
                        src="https://media.sweetwater.com/api/i/f-webp__w-474__q-85__ha-86befc6e246fafcf__hmac-4594639ff7b305e49d3fb13efd7dfb1d32c2fd2f/images/personal_promo/ec71a3--08_31_2021-11_17_2021-gp75sf-1080x720.jpg.auto.webp">
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card overflow-hidden shadow-lg">
                <a href=#>
                    <img alt="Click here for a dj-equipment special"
                        src="https://media.sweetwater.com/api/i/f-webp__w-474__q-85__ha-f74036bd3f5763da__hmac-99f4d021b14fe4756cedae29e95103db8c5f6bc8/images/personal_promo/f6639a--07_20_2021-10_11_2021-behrtd3mosr-1080x720.jpg.auto.webp">
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card overflow-hidden shadow-lg">
                <a href=#>
                    <img alt="Click here for a drums-percussion special"
                        src="https://media.sweetwater.com/api/i/f-webp__w-474__q-85__ha-6f73cf66d25635e1__hmac-b18da6e1fd7d5040138394a4a56ee5f7c5997fa6/images/personal_promo/1ddb00--07_14_2021-09_16_2021-lp257-ts-1080x720.jpg.auto.webp">
                </a>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card overflow-hidden shadow-lg">
                <a href=#>
                    <img alt="Click here for a guitar special"
                        src="https://media.sweetwater.com/api/i/f-webp__w-474__q-85__ha-63d151f877602068__hmac-bf5b59dea893a466f22cd620bd8ed82a4517142b/images/personal_promo/16decf--06_25_2021-01_01_2022-flup90blk-1080x720.jpg.auto.webp">
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card overflow-hidden shadow-lg">
                <a href=#>
                    <img alt="Click here for a drums-percussion special"
                        src="https://media.sweetwater.com/api/i/f-webp__w-474__q-85__ha-c3447cb4a144357d__hmac-2a3a095c254104155c9625fd2fde375983372ed1/images/personal_promo/eccfb6--07_13_2021-09_22_2021-hwp535-1080x720.jpg.auto.webp">
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card overflow-hidden shadow-lg">
                <a href=#>
                    <img alt="Click here for a drums-percussion special"
                        src="https://media.sweetwater.com/api/i/f-webp__w-474__q-85__ha-26b078da4e707fd2__hmac-c08391d55dadc146d67b6c31b21be7a9a787e3d7/images/personal_promo/23057c--08_01_2021-10_11_2021-lb431m-1080x720.jpg.auto.webp">
                </a>
            </div>
        </div>
    </div>
</div>