<div class="d-flex flex-row justify-content-evenly">
    <div class="d-flex">
        <form #postForm1="ngForm" (ngSubmit)="onUpdateBlog1(postForm1.value)">
            <div class="input-group">
                <span class="input-group-text">imagePath</span>
                <input type="text" class="form-control" name="imagePath" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">title</span>
                <input type="text" class="form-control" name="title" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">date</span>
                <input type="text" class="form-control" name="date" ngModel>
            </div>
            <button type="submit">
                Update Blog 1
            </button>
        </form>
    </div>
    <div class="d-flex">
        <form #postForm2="ngForm" (ngSubmit)="onUpdateBlog2(postForm2.value)">
            <div class="input-group">
                <span class="input-group-text">imagePath</span>
                <input type="text" class="form-control" name="imagePath" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">title</span>
                <input type="text" class="form-control" name="title" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">date</span>
                <input type="text" class="form-control" name="date" ngModel>
            </div>
            <button type="submit">
                Update Blog 2
            </button>
        </form>
    </div>
    <div class="d-flex">
        <form #postForm3="ngForm" (ngSubmit)="onUpdateBlog3(postForm3.value)">
            <div class="input-group">
                <span class="input-group-text">imagePath</span>
                <input type="text" class="form-control" name="imagePath" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">title</span>
                <input type="text" class="form-control" name="title" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">date</span>
                <input type="text" class="form-control" name="date" ngModel>
            </div>
            <button type="submit">
                Update Blog 3
            </button>
        </form>
    </div>
    <div class="d-flex">
        <form #postForm4="ngForm" (ngSubmit)="onUpdateBlog4(postForm4.value)">
            <div class="input-group">
                <span class="input-group-text">imagePath</span>
                <input type="text" class="form-control" name="imagePath" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">title</span>
                <input type="text" class="form-control" name="title" ngModel>
            </div>
            <div class="input-group">
                <span class="input-group-text">date</span>
                <input type="text" class="form-control" name="date" ngModel>
            </div>
            <button type="submit">
                Update Blog 4
            </button>
        </form>
    </div>
</div>